numpy==1.26.4
scipy==1.13.0
matplotlib==3.8.4
pandas==2.2.2
plotly==5.21.0
statsmodels==0.14.2
pingouin==0.5.4
scikit-learn==1.4.2
requests==2.31.0
biopython==1.83
lxml==5.2.1
python-dotenv==1.0.1
beautifulsoup4==4.12.3
